<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        #cvs {
            margin: 0;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
</head>

<body>
    <canvas id="cvs"></canvas>
</body>
<script>
    const gameid = "<%= id %>";

    const socket = io("/game");

    const fens = {
        0: "æ±",
        1: "åŒ—",
        2: "è¥¿",
        3: "å—",
    };

    const pais = {
        f0: "ðŸ€€", f1: "ðŸ€", f2: "ðŸ€‚", f3: "ðŸ€ƒ", y0: "ðŸ€„", y1: "ðŸ€…", y2: "ðŸ€†",
        w0: "ðŸ€‡", w1: "ðŸ€ˆ", w2: "ðŸ€‰", w3: "ðŸ€Š", w4: "ðŸ€‹", w5: "ðŸ€Œ", w6: "ðŸ€", w7: "ðŸ€Ž", w8: "ðŸ€",
        s0: "ðŸ€", s1: "ðŸ€‘", s2: "ðŸ€’", s3: "ðŸ€“", s4: "ðŸ€”", s5: "ðŸ€•", s6: "ðŸ€–", s7: "ðŸ€—", s8: "ðŸ€˜",
        t0: "ðŸ€™", t1: "ðŸ€š", t2: "ðŸ€›", t3: "ðŸ€œ", t4: "ðŸ€", t5: "ðŸ€ž", t6: "ðŸ€Ÿ", t7: "ðŸ€ ", t8: "ðŸ€¡",
        h0: "ðŸ€¢", h1: "ðŸ€£", h2: "ðŸ€¤", h3: "ðŸ€¥", h4: "ðŸ€¦", h5: "ðŸ€§", h6: "ðŸ€¨", h7: "ðŸ€©", ur: "ðŸ€«",
    };

    const player = {
        id: -1,
        shoupai: [],
    };

    const cvs = document.getElementById('cvs');
    const ctx = cvs.getContext('2d');

    socket.emit("join game", gameid);

    socket.on("start game", (playerId, shoupai) => {
        player.id = playerId;
        player.shoupai = shoupai;
        draw();
    });

    function draw() {
        const w = cvs.width = window.innerWidth;
        const h = cvs.height = window.innerHeight;
        ctx.fillStyle = "green";
        ctx.fillRect(0, 0, w, h);
        ctx.fillStyle = "white";
        ctx.font = `${h / 10}px Arial`;
        ctx.textAlign = 'left';
        ctx.textBaseline = 'bottom';
        ctx.fillText(fens[player.id], 0, h);
        ctx.font = `${h / 8}px Arial`;
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        player.shoupai.forEach((hai, i) => {
            ctx.fillText(pais[hai], w * (5 / 6 - i / 18), h * 4 / 5);
        });
        requestAnimationFrame(draw);
    }

    socket.on("disconnect", () => {
        alert("Someone left the game!");
        location.href = "/list";
    });
</script>

</html>