<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>麻將</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        #list {
            display: flex;
            justify-content: center;
        }

        .item {
            display: block;
            background: #dfdf8f;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="create">
        <input type="text" id="name" placeholder="遊戲房的名字">
        <input type="button" onclick="createRoom()" value="創建遊戲房">
    </div>
    <div id="list">
        <div id="rooms">
        </div>
    </div>
</body>

<script>
    const socket = io("/list");

    const roomsElement = document.getElementById("rooms");

    function createItem(id, room) {
        const item = document.createElement("a");
        item.id = `item-${id}`;
        item.className = "item";
        item.href = `/room?id=${id}`;
        item.innerHTML = `<div class="name">${room.name}</div><div><span class="limit">${room.members.length}</span>/4</div>`;
        return item;
    }

    for (const [id, room] of Object.entries(<%- JSON.stringify(rooms) %>)) {
        roomsElement.appendChild(createItem(id, room));
    }

    socket.on("new room", (id, room) => {
        roomsElement.appendChild(createItem(id, room));
    });

    socket.on("update room", (id, members) => {
        document.getElementById(`item-${id}`).getElementsByClassName('limit')[0].innerHTML = members.toString();
    });

    socket.on("delete room", id => {
        document.getElementById(`item-${id}`).remove();
    });

    function createRoom() {
        socket.emit("create room", document.getElementById('name').value, id => {
            location.href = `/room?id=${id}`;
        });
    }
</script>

</html>