#header h1 {
    font-size: 100px;
    margin: 0;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#container div {
    margin: 10px;
    padding: 10px;
    background: #ffffdfef;
}

#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    font-size: 100px;
    user-select: none;
}

#background div {
    position: absolute;
    top: 0;
    left: 0;
}
