#list {
    display: flex;
    justify-content: center;
}

.item {
    display: block;
    background: #dfdf8f;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}